.dot {
  background: #00ff0a;
  transform: scale(0.15);
  box-shadow: 0 0 10px #00ff0a, 0 0 20px #00ff0a, 0 0 40px #00ff0a,
    0 0 60px #00ff0a, 0 0 80px #00ff0a, 0 0 100px #00ff0a;
  border-radius: 50%;
  pointer-events: none;
  transition: 2s;
}
